@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

    /* Texto banner */
    .texto-banner {
        margin: auto;
        margin-left: auto;
        justify-items: left;
    }
    
    section#home {
        margin-top: 750px;
        background: white;
        padding: 10px;
        font-family: sans-serif;
    }

    section#projetos .projetos {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .projetos .bloco2 {
        width: 300px;
        text-align: center;
    }
}
