*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

hr {background-color: #000;}

body{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #D3D3D3;
    box-shadow: 0px 3px 10px #464646;
}

section h2 {
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: white;
    margin-top: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 15px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.90rem;
    color: white;
    font-weight: 400;
}

.nav-link:hover {
    transition: all 0.1s ease;
    background: #464646;
    padding: 10px;
    border-radius: 5px;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* ======================
         Banner Css 
=========================*/

section#banner {
    background-image: url(../img/action-1867014.jpg);
    background-position: top;
    background-size: cover;
    height: 90vh;
    width: 100%;
    position: absolute;
    box-shadow: 2px 2px 2px gray;
    justify-content: flex-start;
    align-items: flex-end;
}

section#banner .texto-banner {
    margin: 30vh  30px auto;
    justify-items: left;
    font-size: 18px;
    padding: 10px;
    width: auto;
}

section#banner .texto-banner p {
    justify-content: left;
}

/* ======================
         Section homer
=========================*/

section#home {
    margin-top: 65rem;
    padding: 20px;
}

.texto-h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.texto-h2 span {
    color: #778899;
}

section#home .home {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px gray;
}

.home p {
    justify-items: left;
    padding: 10px;
}


/* ======================
     Section Deveres
=========================*/

section#deveres {
    background: #ffff;
}

section#deveres .deveres {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.deveres .bloco-2 {
    display: flex;
    gap: 10px;
}

.bloco-2 .bg-1 {
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

.bg-1 .texto {
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.367);
    gap: 10px;
}

.bg-1 .texto:hover {
    transition: 0.5s;
    padding: 2px;
}

.bloco-2 .bg-1 .bola {
    margin: 0px 10px;
    font-size: 2.5rem;
    border-radius: 100px;
    color: black;
}

.bg-1 p {
    width: auto;
    margin-top: 5px;
    color: black;
    padding: 10px;
    font-family: sans-serif;
}

/* ======================
     Section Galeria
=========================*/
section#fotos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.vh-100{
    min-height: 100vh;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

.portfolio-grid div > img {
    width: 100%;
    background-size: cover;
}

/* ======================
     Section Projetos
=========================*/

section#projetos {
    max-width: 1200px;
    padding: 10px;
    justify-items: left;
    margin: auto;
    margin-top: 10px;
}

section#projetos h2 {
    border-bottom: 3px solid black;
    width: 300px;
    font-size: 3.5rem;
}

section#projetos .projetos {
    display: flex;
    padding: 10px;
}

.projetos .bloco1 ul {
    list-style-type: decimal;
    margin: 10px 20px;
}

.projetos .bloco2 {
    width: 650px;
    justify-items: left;
}

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
    color: white;
}

/* ======================
       Footer
=========================*/

#footer{
    background-color: #24252a;
    color: white;
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: 1s;
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    list-style-type: none;
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}

/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .insta-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}